@import url('./index.css');


.aboutus_container{
    margin: 30px 0;
}
.aboutus-heading {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 50px;
}

.aboutus_detail{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 2;
    font-size: large;
    color: var(--text-color);
}